In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# numpy.arrayに似たSeriesをつくります。違いは、データにラベルがあるところ

obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# valuesで、値が返ってくる
obj.values

array([ 3,  6,  9, 12])

In [4]:
# indexを表示
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# index付きのデータを作る
# 第二次世界大戦の死傷者

ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000],index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
# 文字列のindexでアクセスできる。
ww2_cas['USA']

np.int64(400000)

In [7]:
# 400万人以上の死傷者を出したのは？

ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
# 普通の辞書のように扱えます。
# USSR があるか？

'USSR' in ww2_cas

True

In [9]:
# 辞書型に変換できます。

ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [10]:
# 辞書をもとに、Seriesを作ることができます。

WW2_Series = Series(ww2_dict)

In [11]:
WW2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [12]:
# indexを明示的に与えることができます。たとえば・・・

countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [13]:
# 別のSeriesを作ります

obj2 = Series(ww2_dict, index=countries)

In [14]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [15]:
# nullデータがあるかどうかを確認できます

pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [16]:
# 逆のこともできます。

pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [17]:
# もとのデータに戻りましょう。

WW2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [18]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [19]:
# 両方のデータを足すと、pandasが自動的に、indexでまとめてくれます。

WW2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [ ]:
# Seriesに名前を付けられます。

obj2.name = '第二次世界大戦の死傷者'

In [20]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [21]:
# indexに名前を付けることも可能

obj2.index.name = 'Countries'

In [22]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64